<h1>商品登録</h1>
<%= form_for @product,url: {action: :create} do |f| %>
    <%= f.label :name, '商品名' %>
    <%= f.text_field :name %><br>
    <%= f.label :price, '価格' %>
    <%= f.text_field :price %><br>
    <%= f.submit '登録' %>
<% end %>